h1 {color:brown}
h2 {color: rgb(56, 101, 107);}
h3 {color: rgb(46, 43, 43);}
h4 {color: rgb(117, 109, 109);}
#img4 {width: 65%;}
#img5 {width: 65%;}
h1 {font-size: 300%;}
h1 {text-align: center;}
h2 {font-size: 200%;}
h2 {text-align: center;}
h3 {font-size: 150%;}
h4 {font-size: 150%;}
#img4 {margin-left: 18%;}
#img5 {margin-left: 18%;}
#img3 {margin-left: 25%;}
h5 {font-size: 180%;}
h5 {color: rgb(28, 28, 95);}
h5 {text-align: right;}
